#contain {
  width: 1440px;
  height: auto;
  margin: auto;
  text-align: center;
}
#block1 {
  width: 100%;
  height: 105px;
  background-color: black;
  color: white;
}
#block1 input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 30px;
}
.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#menu {
  width: 398px;
  height: 25px;
}
#input {
  width: 400px;
  height: 34px;
  background-color: white;
  border-radius: 30px;
  position: relative;
}
#input img {
  position: absolute;
  right: 4%;
}
#block2 {
  width: 100%;
  height: 600px;

  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

#select {
  width: 90px;
  height: 15px;
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 1;
}
#imgslide {
  position: absolute;
  right: -80px;
  animation: slide-in 2s forwards;
}
@keyframes slide-in {
  100% {
    right: 0px; /* Kết thúc ở giữa */
  }
}
#language {
  position: absolute;
  right: 4%;
  top: 4%;

  z-index: 1;
}
.text {
  width: 80%;
  margin: auto;
  font-size: 22px;
  text-align: start;
}
h1 {
  font-size: 45px;
  font-weight: bolder;
}
#lorem {
  width: 80%;
  height: 207px;
  margin: auto;
  margin-top: 5%;

  display: flex;
  justify-content: space-between;
}
.lorem {
  background-image: url("img/Rectangle\ 5.png");
  width: 282px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#end {
  width: 100%;
  height: 107px;
  margin-top: 4%;
  background-color: black;
}
.Menu {
  cursor: pointer;
}
.slide {
  cursor: pointer;
}
#conten {
  width: 100%;
  height: 855px;
  margin-top: 10px;
  position: relative;
}
#Screen {
  width: 398px;
  height: 57px;
  background-image: url("img/Screen\ Shot\ 2023-03-09\ at\ 7.21\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#Screen select {
  width: 60%;
  height: 57%;
  border: none;
}
.colunm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: start;
}
#filter {
  width: 307px;
  height: 555px;
  background-color: rgba(255, 246, 246, 1);
  box-shadow: 0.3px 5px 2px 2px rgb(190, 190, 178);
  border-radius: 5px;
  position: absolute;
  top: 15%;
}
#filter h2 {
  margin: 0;
  margin-bottom: 10px;
}
.line {
  width: 90%;
  height: 0.8px;
  background-color: rgba(227, 29, 39, 1);
  margin-bottom: 20px;
}
.checkbox {
  width: 264px;
}
.grids-colunm {
  display: grid;
  justify-items: start;
}
#category {
  width: 264px;

  height: 150px;
  display: grid;
  justify-items: start;
}
#category h3 {
  margin: 1px;
  text-align: end;
}
#color {
}
#clear {
  cursor: pointer;
}
#sanpham {
  width: 76%;
  height: 770px;
  float: right;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}
.cha {
  position: relative;
}
.con {
  position: absolute;
  top: 33%;
  right: 5%;
}
#line2 {
  top: 66%;
}
.sanpham {
  position: relative;
  display: flex;
  gap: 3%;
}
.anhsp {
  width: 255px;
  height: 208px;
}
.anhsp img {
  width: 100%;
  height: 100%;
}
.login {
  width: 176px;
  height: 61px;

  position: absolute;
  right: 5%;
  top: 2%;
  display: grid;
  justify-items: end;
}
.login p {
  margin: 0;
  font-size: 18px;
}
.login button {
  width: 64.91px;
  height: 22px;
  border: none;
  border: 1px solid red;
  border-radius: 10%;
  background-color: transparent;
  color: red;
  font-weight: 700;
}
.title-sp {
  width: 294px;
  display: grid;
  justify-items: start;
}

.title-sp h4 {
  font-size: 25px;
  margin: 1px;
  text-align: start;
}
.title-sp ul {
  width: 195px;
  height: 80px;
}
li {
  text-align: start;
}
.poin {
  cursor: pointer;
}
#next {
  position: absolute;
  width: 600px;
  height: 40px;

  top: 99.9%;
  right: 20%;
  display: flex;
  justify-content: space-between;
}
#next .next1 {
  width: 334px;
  height: 100%;
  cursor: pointer;
  background-image: url("img/Group\ 35.png");
}
#next .next2 {
  width: 188px;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
#DangNhap {
  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  text-align: start;
}
#DangNhap input {
  width: 763px;
  height: 45px;
  border-radius: 5px;
}
#btnLogin {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#btnLogin button {
  width: 144px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgba(227, 29, 39, 1);
}
.center {
  display: grid;
  justify-items: center;
  justify-content: center;
}
#remember {
  display: flex;
  align-items: center;
  width: 663px;
  height: 45px;
  gap: 10px;
}
#remember input {
  width: 20px;
  height: 20px;
  border: none;
  border: 4px solid red;
}
#DangNhap h2 {
  width: 100%;
}
input {
  font-size: 20px;
}
#Name {
}
#dangnhap {
  color: aqua;
}
#inforProduct {
  width: 750px;
  height: 500px;
  position: fixed;
  top: 30%;
  left: 30%;
  background-color: rgb(29, 52, 73);
  display: none;
}
#inforProduct img {
  width: 100%;
  height: 100%;
}
#giohang {
  width: 100%;
  height: 63px;
  display: none;
}
#giohang button {
  background-color: rgba(227, 29, 39, 1);
  width: 122px;
  height: 40px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}
#giohang p {
  font-weight: 800;
  cursor: pointer;
}
#danhmuc p {
  text-align: start;
}
#danhmuc {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%; /* Hai cột với chiều rộng lần lượt là 100px và 200px */
  /* Hai hàng với chiều cao 150px */
  justify-content: center;
  gap: 2%;
  height: 543px;
  width: 100%;
}
#sanphamdanhmuc {
  height: 450px;
  width: 100%;

  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
#sanphamdanhmuc p {
  margin: 0px;
  width: 174px;
  text-align: center;
}
.hinhanhsp {
  display: grid;
  gap: 40px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
}
